body {
    background: darkslategray; /* defino qun color de fondo */
    font-family: 'Poppins', sans-serif; 
}

/* defino que solo la clase tendra tendra ciertas caracteristicas */
.copyright {
    font-size: 24px; /* defino el tamaño del texto*/
    color: #0a0b0b; /* defino el color del texto*/
    position: absolute;
    bottom: 0;
    width: 35%;  /* ajusto el tamaño que tendra esta clase */
    font-weight: bold;  /* ajusto el formato del texto para que tenga negrita*/
}

/* defino que la id tendra tendra ciertas caracteristicas */
form {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px; /* le indico que ocupe un relleno de 20px para todo los lados */
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

/* defino que solo la etiqueta "h1" del bloque con la id tendra tendra ciertas caracteristicas */
form h1 {
    color: #0f2027;
    text-align: center;
}

/* defino que solo la etiqueta "button" del bloque con la id tendra tendra ciertas caracteristicas */
form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

/* defino que solo la clase "inicio" tendra tendra ciertas caracteristicas */
.inicio {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

/* defino que solo etiqueta "label" del bloque con la clase "inicio" tendra tendra ciertas caracteristicas */
.inicio label{
    padding: 0 0 15px 0; /* le indico que ocupe un margen externo (arriba, derecha, abajo y izquierda) */
}

/* defino que solo etiqueta "input" del bloque con la clase "inicio" tendra tendra ciertas caracteristicas */
.inicio input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	font-size: 15px;
	padding: 10px;
	width: 100%;
}

/* defino que solo la clase tendra tendra ciertas caracteristicas */
.codificar{
    padding: 12px 0; /* le indico que ocupe un margen externo vertical (arriba y abajo) y horizontal (derecha y izquierda) */
    font-size: 22px;  /* defino el tamaño del texto*/
    color: rgb(90, 86, 86);
}
