/* defino que la etiqueta "body" tendra tendra ciertas caracteristicas */
body {
    background: url(IMG/fondo.jpg); /* defino una imagen como fondo */
    font-family: 'Poppins', sans-serif; /* defino un tipo de texto */
}

/* defino que solo altere estos elementos cuando la pantalla del dispositivo sea un telefono */
@media screen and ( max-width:426px){
    section .copyright {
        font-size: 21.8px!important; /* defino el tamaño del texto e indico que lo fuerse*/
        padding-left: 1.7% !important; /* defino un espacio interno a la izquierda e indico que lo fuerse*/
        padding-right: 2.3% !important; /* defino un espacio interno a la derechaa e indico que lo fuerse*/
        margin: 1.52% 0 0 0 !important; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra e indico que lo fuerse*/
    }
    
    .posision-pri {
        margin: 0 0 0 1.7em !important; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda) e indico que lo fuerse*/
    }

    .posision-sec {
        margin: 0 0 0 6.4em !important; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda) e indico que lo fuerse*/
    }
}

/* defino que solo altere estos elementos cuando la pantalla del dispositivo sea un telefono y que este en vertical*/
@media screen and (max-height:426px) and (orientation:landscape){
    section .copyright {
        padding-left: 21.55% !important; /* defino un espacio interno a la izquierda e indico que lo fuerse*/
        margin: 0.8% 0 0 0 !important; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra e indico que lo fuerse*/
    }
    
    .posision-pri {
        margin: 0 0 0 11.7em !important; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda) e indico que lo fuerse*/
    }
}

/* defino que la etiqueta "form" tendra tendra ciertas caracteristicas */
form {
    width: 400px; /* ajusto el tamaño que tendra esta clase */
    margin: 20vh auto; /* le indico que ocupe un margen externo arriba, derecha, abajo y para izquierda */
    padding: 20px; /* le indico que ocupe un relleno de 20px para todo los lados */
    background-color: whitesmoke; /* defino un color de fondo */
    border-radius: 4px; /* le indico que las esquinas de los bordes sean curveados */
    font-size: 12px; /* defino el tamaño del texto*/
}

/* defino que solo la clase "alura" tendra tendra ciertas caracteristicas */
.alura {
    width: 15px; /* ajusto el tamaño que tendra esta clase */
}

/* defino que solo la etiqueta "h1" dentro del bloque con la etiqueta "form" tendra tendra ciertas caracteristicas */
form h1 {
    color: #0f2027; /* defino el color del texto */
    text-align: center; /* defino que el texto este centrado*/
    display: block; /* le indico que el elemento sea como un bloque al igual que la etiqueta "div" respetando el ancho, el alto y los márgenes verticales de cada elemento*/
    font-size: 2em; /* defino el tamaño del texto*/
    margin-block-start: 0.67em; /* defino la posisiones del texto*/
    margin-block-end: 0.67em; /* defino la posisiones del texto*/
    margin-inline-start: 0px; /* defino la posisiones del texto*/
    margin-inline-end: 0px; /* defino la posisiones del texto*/
    font-weight: bold; /* defino el formato del en negrita*/
}

/* defino que solo la etiqueta "button" dentro del bloque con la etiqueta "form" tendra tendra ciertas caracteristicas */
form button:enabled {
    padding: 10px; /* le indico que ocupe un relleno de 20px para todo los lados */
    margin-top: 10px; /* le doy un margen superior*/
    margin-bottom: 2%; /* le doy un margen inferior*/
    width: 100%; /* ajusto el tamaño que tendra esta clase */
    color: white; /* defino el color del texto */
    background-color: rgb(41, 57, 194); /* defino un color de fondo */
    border: none; /* defino que no tenga bordes */
    border-radius: 4px; /* le indico que las esquinas de los bordes sean curveados */
    transition: 800ms; /* el doy un tiempo de transicion para cuando va a sufrir un cambio fisico se tome ese tiempo*/
    cursor:pointer; /* el maus cambiara al estar sobre el*/
}

/* defino que solo la etiqueta "button" con propiedad "hover" (detecta cuando el maus este en sima) y propiedad "enabled" (aplica a todo lo que este abilitado) dentro del bloque con la etiqueta "form", solo ejecute las caracteristicas mientras que el maus este sobre el y cuando este activado*/
form button:hover:enabled {
    box-shadow: 4px 4px 30px 2px #000000; /* el doy un formato al borde que en este caso es de sombra 10 desplazamiento-x | 10 desplazamiento-y | 30 radio de desenfoque | 15 radio de extensión | color*/
}

/* defino que solo la etiqueta "button" con propiedad "disabled" (aplica a todo lo que este desabilitado) dentro del bloque con la etiqueta "form", solo ejecute las caracteristicas a todo lo que este desactivado*/
form button:disabled {
    padding: 10px; /* le indico que ocupe un relleno de 20px para todo los lados */
    margin-top: 10px; /* le doy un margen superior*/
    margin-bottom: 2%; /* le doy un margen inferior*/
    width: 100%; /* ajusto el tamaño que tendra esta clase */
    color: white; /* defino el color del texto */
    background-color: rgb(88, 93, 136); /* defino un color de fondo */
    border: none; /* defino que no tenga bordes */
    border-radius: 4px; /* le indico que las esquinas de los bordes sean curveados */
}

/* defino que solo la clase "inicio" tendra tendra ciertas caracteristicas */
.inicio {
    font-size: 20px; /* defino el tamaño del texto*/
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño proporcionado por bloque en el que se encuentran*/
    flex-direction: column; /* le indico que los elemento del bloque flexible se organinse en columna*/
}

/* defino que solo etiqueta "label" dentro del bloque con la clase "inicio" tendra tendra ciertas caracteristicas */
.inicio label{
    padding: 0 0 15px 0; /* le indico que ocupe un margen externo (arriba, derecha, abajo y izquierda) */
}

/* defino que solo etiqueta "input" dentro del bloque con la clase "inicio" tendra tendra ciertas caracteristicas */
.inicio input {
    border: 2px solid #0c0c0c; /* le indico que los bordes tengan un grosor de 2px, el tipo de borde y el color */
	border-radius: 4px; /* le indico que las esquinas de los bordes sean curveados */
	font-size: 15px; /* defino el tamaño del texto*/
	padding: 10px 5px; /* le indico que ocupe un margen externo vertical (arriba y abajo) y horizontal (derecha y izquierda) */
	width: 96%; /* ajusto el tamaño que tendra esta clase */
}

/* defino que solo la clase tendra tendra ciertas caracteristicas */
.codificar{
    padding: 12px 0; /* le indico que ocupe un margen externo vertical (arriba y abajo) y horizontal (derecha y izquierda) */
    font-size: 22px;  /* defino el tamaño del texto*/
    color: rgb(90, 86, 86); /* defino el tamaño del texto*/
}

/* defino que solo la etiqueta "footer" tendra tendra ciertas caracteristicas */
footer {
    position: fixed; /* defino que tendra una posision fija */
    bottom: 0; /* defino que se posisionara al final de la pagina */
    background: rgb(4, 4, 4); /* defino que color de fondo */
    width: 100%;  /* ajusto el tamaño que tendra esta clase */
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: column; /* le indico que los elemento del bloque flexible se organinse en columna*/
}

/* defino que solo la etiqueta "section" tendra tendra ciertas caracteristicas */
section{
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
    margin: 0.55% 0; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra */
}

/* defino que solo la clase "copyright" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .copyright {
    font-size: 23px; /* defino el tamaño del texto*/
    color: #f3f5f3; /* defino el color del texto*/
    font-weight: bold;  /* ajusto el formato del texto para que tenga negrita*/
    margin: 0.45% 0 0 0; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra*/
    padding-left: 35%; /* defino un espacio interno a la izquierda*/
    padding-right: 1.5%; /* defino un espacio interno a la derecha*/
}

/* defino que solo la clase "logo" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .logo {
    width: 42px; /* ajusto el tamaño que tendra esta clase */
}

/* defino que solo la clase "posision-pri" tendra tendra ciertas caracteristicas */
.posision-pri {
    margin: 0 0 0 34.5em; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}

/* defino que solo la clase "posision-sec" tendra tendra ciertas caracteristicas */
.posision-sec {
    margin: 0 0 0 5.8em; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}

/* defino que solo la clase "enlace" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .enlace {
    width: 40px; /* ajusto el tamaño que tendra esta clase */
}